# Files/directories Python to ignore
**/__pycache__/
*.py[cod]
*.pyo
*.pyd

# idea folder
.idea

# dotenv
.env

# Data folders
data
exports
test_input_files
**/input
**/output

# Logs
*.log

# SQL
*.sql