<div class="table-container">
  <div class="header-row">
    <h2>{{ viewMode === 'not-imported' ? 'Opportunities List' : 'Imported Opportunities' }}</h2>

    <div class="switch-group">
      <button
        class="switch-btn"
        [class.active]="viewMode === 'not-imported'"
        (click)="switchView('not-imported')">
        Not Imported
      </button>
      <button
        class="switch-btn"
        [class.active]="viewMode === 'imported'"
        (click)="switchView('imported')">
        Imported
      </button>
    </div>
  </div>

  <div *ngIf="loading" class="loading-text">loading...</div>
  <div *ngIf="error" class="error">{{ error }}</div>

  <table *ngIf="!loading && !error">
    <thead>
      <tr>
        <th>Title</th>
        <th>Norm</th>
        <th>Customer Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let opp of opportunities">
        <td>{{ opp.audits.title }}</td>
        <td>{{ opp.audits.norme }}</td>
        <td>{{ opp.customer_information.company_name }}</td>
        <td class="actions-cell">
          <button *ngIf="viewMode === 'not-imported'" class="btn-import" (click)="onImport(opp.opportunity_id)">Import</button>
          <button *ngIf="viewMode === 'imported'&& opp.audits.norme === 'BSI'" class="btn-edit" (click)="onEditClick(opp)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-overlay" *ngIf="showEditModal" (click)="closeEditModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h3>Edit Audit</h3>

    <div class="modal-field">
      <label>Protection Needs</label>
      <select [(ngModel)]="selectedProtectionNeeds">
        <option value="" disabled>Select a level</option>
        <option value="normal">Normal</option>
        <option value="high">High</option>
        <option value="very high">Very High</option>
      </select>
    </div>

    <div class="modal-field">
      <label>Category</label>
      <a class="btn-category" [routerLink]="['/categories', selectedNorm]">Open Category</a>
    </div>

    <div class="modal-actions">
      <button class="btn-cancel" (click)="closeEditModal()">Cancel</button>
      <button class="btn-save" (click)="saveProtectionNeeds()" [disabled]="!selectedProtectionNeeds">Save</button>
    </div>
  </div>
</div>